<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<!-- <h1>${Text(_(u" Welcome to {platform_name}")).format(platform_name=settings.PLATFORM_NAME)}</h1> -->
<h6 class="text-left learnEyouth" style="font-weight: 1200px;"> Learn. Improve. Grow. with <br> EYouth Learning </h6>

## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See https://open.edx.org for more information.
<!-- <p>${Text(_("It works! Powered by Open edX{registered_trademark}")).format(registered_trademark=HTML("<sup style='font-size: 65%'>&reg;</sup>"))}</p> -->

<p class="text-left">The leading educational platform in the MENA region since 2016. <br>
    We offer educational, interactive programs, in Arabic, to prepare young people for the labor market. </p>
